/* body styling */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

/* navbar styling */

nav{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111;
    display: flex;
    height: 6.5rem;
    position: fixed;
    padding: 0 2rem;
    transition: 0.6s;
    align-items: center;
    /* border: 0.1rem solid red; */
    background-color: transparent;
    justify-content: space-between;
}

nav.sticky {
    background: #0f0f0f;
}

#logo{
    width: 10rem;
    height: auto;
    object-fit: contain;
    /* border: 0.1rem solid red; */
}

#signin_button{
    width: 6rem;
    height: auto;
    display: flex;
    margin-right: 4rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: red;
    justify-content: center;
}

#signin_button a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

/* main container styling */

.main-container{
    width: 100%;
    display: flex;
    margin-top: 6.5rem;
    align-items: center;
    justify-content: center;
    /* border: 0.1rem solid blue; */
}

.video-container{
    width: 100%;
    position: relative;
    text-align: center;
    /* border: 0.1rem solid green; */
}

#myVideo{
    z-index: -1;
    margin: 2rem;
    width: 1350px;
    height: 545px;
    object-fit: cover;
    border: 0.2rem solid red;
}

#playPauseButton{
    z-index: 2;
    right: 70px;
    border: none;
    bottom: 70px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    border-radius: 0.5rem;
    background-color: red;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#playPauseButton:hover{
    background-color: red;
    transform: scale(1.1);
}

.text-overlay{
    top: 80%;
    left: 50%;
    z-index: 5;
    width: 700px;
    color: white;
    text-align: center;
    position: absolute;
    /* border: 0.2rem solid yellow; */
    transform: translate(-50%, -50%);
}

.text-overlay h1{
    font-size: 3rem;
    margin: 0;
}
 
.text-overlay p{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.text-overlay h1, .text-overlay p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* trending-now content styling */

/* .trendingnow p{
    text-align: center;
    color: white;
    font-size: 3rem;
    margin: 2rem 0 0 0;
}

.trendingnow .img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0.5rem 0 0;
}

.trendingnow .img #movie-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0.5rem 0 0;
    height: 300px;
    width: 210px;
    border: 0.03rem solid red;
    border-radius: 0.7rem;
} */

/* only-on-netflix content styling */

/* .only-on-netflix p{
    text-align: center;
    color: white;
    font-size: 3rem;
}

.only-on-netflix .img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0.5rem 0 0;
}

.only-on-netflix .img #movie-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0.5rem 0 0;
    height: 300px;
    width: 210px;
    border: 0.03rem solid red;
    border-radius: 0.7rem;
}

#movie-logo:hover {
    transform: scale(1.05);
} */

/* plans styling */

/* .plans p {
    text-align: center;
    color: white;
    font-size: 3rem;
}

.plans h1 {
    text-align: center;
    color: white;
    font-size: 1rem;
}

.plans .plan-boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.plans .plan-box {
    height: 200px;
    width: 250px;
    margin: 0 10px;
    border: 0.03rem solid red;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-40deg, #2d44ca, #951c85);
}

.plans .plan-box h1 {
    font-size: 30px;
    margin: 0;
}

.plans .plan-box:hover {
    transform: scale(1.05);
    background-color: rgba(255, 0, 0, 0.6);
}

.plans .plan-box p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
} */

/* more-reasons-to-join content styling */

/* .more-reasons-to-join p{
    text-align: center;
    color: white;
    font-size: 3rem;
}

.more-reasons-to-join .boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.more-reasons-to-join .box{
    height: 150px;
    width: 300px;
    margin: 0 10px;
    background-color: rgba(55, 37, 37, 0.332);
    border: 0.03rem solid red;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-reasons-to-join .box p{
    font-size: 1.2rem;
    margin: 0;
}

.more-reasons-to-join .box:hover{
    transform: scale(1.05);
    background-color: rgba(255, 0, 0, 0.6);
} */

/* footer styling */

/* .footer{
    display: flex;
}

.footer div{
    margin: 1rem 8rem 0 0;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer li{
    margin-bottom: 15px;
}

.footer a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.footer a:hover{
    color: red;
}

hr{
    margin-top: 2.5rem;
    width: 90%;
    border: 0;
    border-top: 2px solid red;
} */











/* For screens smaller than 480px */
/* Mobile portrait view */

@media (max-width: 480px) {
    nav {
        height: 4rem;
    }

    #logo {
        width: 6.5rem;
    }

    #signin_button {
        width: 4rem;
    }

    #signin_button a {
        font-size: 0.6rem;
    }

    .main-container{
        margin-top: 3.5rem;
    }

    #myVideo{
        margin: 2rem;
        width: 250px;
        height: 100px;
        border-radius: 0.5rem;
    }

    #playPauseButton{
        right: 4.5rem;
        bottom: 3.2rem;
        padding: 8px;
        font-size: 12px;
        border-radius: 4rem;
    }

    .text-overlay{
        top: 29%;
        left: 50%;
        width: 180px;
    }
    
    .text-overlay h1{
        font-size: 0.6rem;
    }
     
    .text-overlay p{
        font-size: 0.4rem;
        margin-top: 0.3rem;
    }
}

/* For screens greater than 481px and smaller than 767px*/
/* Mobile landscape view */
@media (min-width: 481px) and (max-width: 767px) {
    nav {
        height: 4.5rem;
    }

    #logo {
        width: 7.5rem;
    }

    #signin_button {
        width: 5rem;
    }

    #signin_button a {
        font-size: 0.8rem;
    }

    .main-container{
        margin-top: 4.5rem;
    }

    #myVideo{
        margin: 2rem;
        width: 400px;
        height: 160px;
        border-radius: 1rem;
    }

    #playPauseButton{
        right: 5rem;
        bottom: 3.5rem;
        padding: 10px;
        font-size: 14px;
        border-radius: 4rem;
    }

    .text-overlay{
        top: 38%;
        left: 50%;
        width: 300px;
    }
    
    .text-overlay h1{
        font-size: 1.5rem;
    }
     
    .text-overlay p{
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }
}

/* For screens greater than 768px and smaller than 1023px*/
/* Tablet portrait view */
@media (min-width: 768px) and (max-width: 1023px) {
    nav {
        height: 5rem;
    }

    #logo {
        width: 8.5rem;
    }

    #signin_button {
        width: 5rem;
    }

    #signin_button a {
        font-size: 1rem;
    }

    .main-container{
        margin-top: 5rem;
    }

    #myVideo{
        margin: 2rem;
        width: 700px;
        height: 285px;
        border-radius: 1.5rem;
    }

    #playPauseButton{
        right: 5.8rem;
        bottom: 4rem;
        padding: 10px;
        font-size: 16px;
        border-radius: 4rem;
    }

    .text-overlay{
        top: 60%;
        left: 50%;
        width: 550px;
    }
    
    .text-overlay h1{
        font-size: 2rem;
    }
     
    .text-overlay p{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

/* For screens greater than 1024px and smaller than 1439px*/
/* Tablet landscape view */
@media (min-width: 1024px) and (max-width: 1279px) {
    nav {
        height: 5.5rem;
    }

    #logo {
        width: 9rem;
    }

    #signin_button {
        width: 5.5rem;
    }

    #signin_button a {
        font-size: 1.2rem;
    }

    .main-container{
        margin-top: 5.5rem;
    }

    #myVideo{
        margin: 2rem;
        width: 950px;
        height: 385px;
        border-radius: 2rem;
    }

    #playPauseButton{
        right: 6.5rem;
        bottom: 3.5rem;
        padding: 12px;
        font-size: 16px;
        border-radius: 4rem;
    }

    .text-overlay{
        top: 75%;
        left: 50%;
        width: 600px;
    }
    
    .text-overlay h1{
        font-size: 2.7rem;
    }
     
    .text-overlay p{
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
}

/* For screens greater than 1280px and smaller than 1439px*/
/* Small Laptop view */
@media (min-width: 1280px) and (max-width: 1439px) {
    nav {
        height: 6rem;
    }

    #logo {
        width: 9.5rem;
    }

    #signin_button {
        width: 6rem;
    }

    #signin_button a {
        font-size: 1.3rem;
    }

    .main-container{
        margin-top: 6rem;
    }

    #myVideo{
        margin: 2rem;
        width: 1200px;
        height: 485px;
        border-radius: 2.5rem;
    }

    #playPauseButton{
        right: 6.5rem;
        bottom: 4rem;
        padding: 12px;
        font-size: 16px;
        border-radius: 4rem;
    }

    .text-overlay{
        top: 90%;
        left: 50%;
        width: 650px;
    }
    
    .text-overlay h1{
        font-size: 2.8rem;
    }
     
    .text-overlay p{
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }
}

/* For screens greater than 1440px */
/* Large Monitor view */
@media (min-width: 1440px) {
    nav {
        height: 6.5rem;
    }

    #logo {
        width: 10rem;
    }

    #signin_button {
        width: 6rem;
    }

    #signin_button a {
        font-size: 1.5rem;
    }

    .main-container{
        margin-top: 6.5rem;
    }

    #myVideo{
        margin: 2rem;
        width: 1350px;
        height: 545px;
        border-radius: 3rem;
    }

    #playPauseButton{
        right: 6.5rem;
        bottom: 4rem;
        padding: 12px;
        font-size: 16px;
        border-radius: 4rem;
    }

    .text-overlay{
        top: 80%;
        left: 50%;
        width: 700px;
    }
    
    .text-overlay h1{
        font-size: 3rem;
    }
     
    .text-overlay p{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
}