/* body styling */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

/* navbar styling */

nav{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111;
    display: flex;
    height: 6.5rem;
    position: fixed;
    padding: 0 2rem;
    transition: 0.6s;
    align-items: center;
    border: 0.1rem solid red;
    background-color: transparent;
    justify-content: space-between;
}

nav.sticky {
    background: #0f0f0f;
}

#logo{
    width: 10rem;
    height: auto;
    object-fit: contain;
    border: 0.1rem solid red;
}

#home_button{
    width: 6rem;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-right: 4rem;
    border-radius: 1.5rem;
    background-color: red;
    justify-content: center;
}

#home_button a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

/* For screens smaller than 480px */
/* Mobile portrait view */

@media (max-width: 480px) {
    nav {
        height: 4rem;
    }

    #logo {
        width: 7.5rem;
    }

    #home_button {
        width: 6rem;
    }

    #home_button a {
        font-size: 1.1rem;
    }
}

/* For screens greater than 481px and smaller than 767px*/
/* Mobile landscape view */
@media (min-width: 481px) and (max-width: 767px) {
    nav {
        height: 4.5rem;
    }

    #logo {
        width: 8rem;
    }

    #home_button {
        width: 6rem;
    }

    #home_button a {
        font-size: 1.3rem;
    }
}

/* For screens greater than 768px and smaller than 1023px*/
/* Tablet portrait view */
@media (min-width: 768px) and (max-width: 1023px) {
    nav {
        height: 5rem;
    }

    #logo {
        width: 8.5rem;
    }

    #home_button {
        width: 6rem;
    }

    #home_button a {
        font-size: 1.3rem;
    }
}

/* For screens greater than 1024px and smaller than 1439px*/
/* Tablet landscape view */
@media (min-width: 1024px) and (max-width: 1279px) {
    nav {
        height: 5.5rem;
    }

    #logo {
        width: 9rem;
    }

    #home_button {
        width: 6rem;
    }

    #home_button a {
        font-size: 1.3rem;
    }
}

/* For screens greater than 1280px and smaller than 1439px*/
/* Small Laptop view */
@media (min-width: 1280px) and (max-width: 1439px) {
    nav {
        height: 6rem;
    }

    #logo {
        width: 9.5rem;
    }

    #home_button {
        width: 6rem;
    }

    #home_button a {
        font-size: 1.3rem;
    }
}

/* For screens greater than 1440px */
/* Large Monitor view */
@media (min-width: 1440px) {
    nav {
        height: 6.5rem;
    }

    #logo {
        width: 10rem;
    }

    #home_button {
        width: 6rem;
    }

    #home_button a {
        font-size: 1.5rem;
    }
}